[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
discord = "*"
sqlalchemy = "*"
psycopg2 = "*"

[dev-packages]
ipython = "*"
flake8 = "*"
nose = "*"
nest-asyncio = "*"
debugpy = "*"

[requires]
python_version = "3.9"
